@import "../../variables";

.pokemon-selection {
    float: left;
    width: 98%;
    height:99%;
    margin: 1%;
    .search-filter-sort-bar {
        background-color: $primary_color;
        margin-bottom: 1%;
        padding: 1%;
        border-radius: .8vh;
        box-shadow: 0 .3vh .25vh darken($bg-color, 10%);
        width:100%;
        height:2%;
        input[type='text']{
            width:35%;
            outline: none;
            border-radius: .3vh;
            background-color: lighten($primary_color, 15%);
            border: none;
            color: white;
            padding:.5%;
        }
        select {
            background-color: lighten($primary_color, 15%);
            border: none;
            outline: none;
            border-radius: .3vh;
            padding:.3vh;
            margin-left: 1%;
            color: white;
        }
    }
    .pokemon-list {
        width: 100%;
        height: 94.5%;
        overflow-y: scroll;
        
        .pokemon {
            background-color: $primary_color;
            margin-bottom: 1%;
            padding: 1%;
            border-radius: .8vh;
            height: 17.2%;
            position: relative;
            box-shadow: 0 .3vh .25vh darken($bg-color, 10%);
            cursor: pointer;

            .sprite {
                height: 100%;
                position: relative;
                top:50%;
                transform: translateY(-50%);
                float:left;
                border-radius: 50%;
                padding:.5%;
                img {
                    height:100%;
                }
                
            }
            .info {
                position: relative;
                left:2%;
                float:left;
                height: 90%;
                h1 {
                    width:100%;
                    font-weight: bold;
                    font-size: 2vh;
                    text-align: left;
                    color:white;
                }
                .types {
                    .pokemon-type {
                        margin-top:1%;
                    }
                }   
            }  
        }
        .pokemon:hover {
            background-color: darken($primary_color, 1);
            box-shadow: 0 .15vh .25vh darken($bg-color, 10%);
            .sprite {
                animation: jumpr 350ms infinite 0ms;

                img {
                }
            }
            
            @keyframes jumpr {
                0% {top:50%}
                50% {top:45%}
                100% {top:50%}
            }
        }
        .pokemon:active {
            background-color: darken($primary_color, 3);
            box-shadow: 0 .15vh .25vh darken($bg-color, 10%);
        }
    }
}

::-webkit-scrollbar {
    display:none;
}