@import "../../variables";

.pokemon-selection {
    float: left;
    width: 100%;
    height:98.3%;
    margin: 1%;
    margin-left: 0;
    border-radius: .8vh;
    box-shadow: 0 .3vh .25vh darken($bg-color, 10%);
    background-color: $primary_color;

    .search-filter-sort-bar {
        position: relative;
        background-color: $secondary-color;
        padding: 1%;
        border-radius: .8vh;
        box-shadow: 0 .3vh .25vh darken($bg-color, 10%);
        width:95%;
        height:2%;
        margin:auto;
        margin-top: 1.5%;
        z-index: 5;
        * {
            font-size: 1.35vh;
            position: relative;
            top:50%;
            transform: translateY(-50%);
        }
        input[type='text']{
            
            width:35%;
            outline: none;
            border-radius: .3vh;
            background-color: lighten($primary_color, 15%);
            border: none;
            color: white;
            padding:.5%;
        }
        select {
            background-color: lighten($primary_color, 15%);
            border: none;
            outline: none;
            border-radius: .3vh;
            padding:.3vh;
            margin-left: 1%;
            color: white;
            cursor: pointer;
        }
        .toggle-finalevo-filter {
            background-color: lighten($primary_color, 15%);
            border: none;
            outline: none;
            border-radius: .3vh;
            padding:.4vh;
            margin-left: 1%;
            color: white;
            cursor: pointer;
        }
        .toggle-finalevo-filter.on {
            background-color: white;
            color: lighten($primary_color, 15%)
        }
        .toggle-finalevo-filter.on:hover {
            background-color: darken(white, 20%);
            color: lighten($primary_color, 15%)
        }
        .toggle-finalevo-filter:hover, select:hover {
            background-color: lighten($primary_color, 10%);
        }
    }
    .pokemon-list {
        width: 100%;
        height: 93.5%;
        overflow-y: scroll;
        
        .pokemon {
            background-color: $secondary-color;
            width:95%;
            margin: auto;
            margin-top: 1%;
            padding: 1%;
            border-radius: .8vh;
            height: 17.2%;
            position: relative;
            box-shadow: 0 .3vh .25vh darken($bg-color, 10%);
            overflow: hidden;
            cursor: pointer;
            .pokedex-num {
                position: absolute;
                font-weight: bold;
                font-size:.8vw;
                left:.5%;
                bottom:.5%;
                color: lighten($secondary-color,15%)
            }
            .sprite {
                height: 100%;
                position: relative;
                top:50%;
                transform: translateY(-50%);
                float:left;
                border-radius: 50%;
                padding:.5%;
                img {
                    height:100%;
                }
                
                
            }
            .info {
                position: absolute; 
                left:20%;
                height: 90%;
                width:70%;
                h1 {
                    width:100%;
                    font-weight: bold;
                    font-size: 2vh;
                    text-align: left;
                    color:white;
                }
                .types {
                    float:left;
                    width:10%;
                    .pokemon-type {
                        width:100%;
                        margin-top:3%;
                    }
                }   
                .stats {
                    float:left;
                    position: absolute;
                    top:50%;
                    transform: translateY(-50%);
                    right:0;
                    margin-left: 10%;
                    font-size: .8vw;
                    .stat-names, .stat-nums {
                        p {
                            color: lighten($secondary-color, 50%);
                            font-weight: bold;
                            text-align: center;
                            width:3.5vw;
                            float:left;
                        }
                    }
                    .stat-names {
                        margin-bottom: 4%;
                        p {
                            text-decoration: underline;
                        }
                    }
                    .stat-nums {
                        margin-top: 4%;
                        clear:left;
                    }
                }
            }  
            .type-color, .type2-color {
                width: 50%;
                height:2.5%;
                opacity: .3;
                margin:0;
                position: absolute;
            }
            .type-color {
                top:0;
                left:0;
            }
            .type2-color {
                top:0%;
                right:0;
            }
        }
        .pokemon:hover {
            background-color: darken($secondary-color, 1%);
            box-shadow: 0 .15vh .25vh darken($bg-color, 10%);
            .sprite {
                animation: jumpr 350ms infinite 0ms;

                img {
                }
            }
            
            @keyframes jumpr {
                0% {top:50%}
                50% {top:45%}
                100% {top:50%}
            }
        }
        .pokemon:active {
            background-color: darken($secondary-color, 3%);
            box-shadow: 0 .15vh .25vh darken($bg-color, 10%);
        }
    }
}

::-webkit-scrollbar {
    display:none;
}