@import "../../variables";

.team-manager {
    float: left;
    width: 98%;
    height: 38.4%;
    margin:1%;
    background-color: $primary_color;
    border-radius: .8vh;
    box-shadow: 0 .3vh .25vh darken($bg-color, 10%);
    .team-pokemon {
        height:100%;
        padding: 1%;
        
        .pokemon {
            float:left;
            width:16.666666%;
            height: 75%;
            @media (orientation: landscape) {
                @include center-vertically;
            }
            .name {
                float:left;
                top:10%;
                width:100%;
                height: 10%;
                position: relative;
                top:-7%;
                text-align: center;
                color:white;
                font-weight: bold;
                font-size: 1vw;
            }
            .sprite {
                @media (orientation: landscape) {
                    @include center-horizontally;
                }
                position: relative;
                float:left;
                width:7vw;
                height:7vw;
                margin:auto;
                background-color: $team-member-empty;
                border-radius: 10000000vh;
                border:.5vh solid darken($team-member-empty, 20%);
                box-shadow: .3vh .3vh .1vh rgba(0, 0, 0, 0.404);
                
                cursor: pointer;
                img {
                    position: relative;
                    width:100%;
                }
                .overlay {
                    left:-.5vh;
                    top:-.5vh;
                    width:100%;
                    height:100%;
                    background-color: black;   
                    border:.5vh solid black;
                    border-radius: 100000000%;
                    position: absolute;
                    opacity: 0;
                }
                //only shows if img doesnt exist
                .pokeball {
                    border-radius: 100%;
                    width:100%;
                    height: 100%;
                    background-color: black;
                    overflow: hidden;
                    position: relative;
                    left:-.5vh;
                    top:-.5vh;
                    border:.5vh solid black;
                    .top-half {
                        height: 45%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        background-color: darken(red, 30%);
                    }
                    .bottom-half {
                        height: 45%;
                        width:100%;
                        position: absolute;
                        bottom: 0;
                        background-color: darken(white, 50%);
                    }
                    .middle-ball {
                        height:20%;
                        width:20%;
                        position: absolute;
                        bottom: 50%;
                        left: 50%;
                        border-radius: 100vh;
                        transform: translate(-50%, 50%);
                        background-color: darken(white, 50%);
                        border: 1vh solid black
                    }
                }
            } 
            .sprite:hover {
                box-shadow: .15vh .15vh .1vh rgba(0, 0, 0, 0.459);
                position: relative;
                
                .overlay {
                    opacity: .2;
                }
                img {
                    animation: jump 350ms infinite 0ms;
                }
                @keyframes jump {
                    0% {top:0}
                    50% {top:-5%}
                    100% {top:0}
                }
            }
            .sprite:active {
                .overlay {
                    opacity: .4;
                }
            }
            .types {
                float:left;
                position: relative;
                @media (orientation: landscape) {
                    @include center-horizontally;
                }
                .pokemon-type {
                    height:10%;
                    margin-top: 7%;
                }
            }
        }
    }
}

@media (orientation: portrait) {
    .team-manager {
        .team-pokemon {
            .pokemon {
                width: 33.3333%;
                height:49%;
                .name {
                    font-size: 1.5vh;
                }
                .sprite {
                    width:12vh;
                    height:12vh;
                    @include center-horizontally;
                }
                .types {
                    display: none;
                   
                }
            }
        }
    }
}
