@import '../variables';

.pokemon-type {
    background-color: rgb(209, 209, 209);
    border-radius: 20vh;
    padding:1vh;
    width:3vw;
    font-size: .6vw;
    text-align: center;
    color: $primary_color;
} 